button {
    background-color: aqua;
    color: blanchedalmond;
    transition: all 0.5s ease-out;
    background: linear-gradient (to right, #e84118 50%, #FFF 50%);
    background-size: 200% 100%;
background-position: left;
    }
button:hover{
        background-position: left;
        color: #FFF;   
}